.display-page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.low {
    background-color: green;
}

.medium {
    background-color: yellow;
}

.high {
    background-color: red;
}